// Color Variables
$white: #ffffff;
$off-white: #ecedee;
$light-grey: #ccc;
$grey: #4b4b4b;
$black: #000;
$highlight: #3bad35;

$font-family: 'Raleway', 'Segoe UI', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
$alt-font-family: 'Oswald', sans-serif;

// Tag Styles
body {
    background: $light-grey url('https://s3-us-west-1.amazonaws.com/sutiodrc-portfolio/images/portfolio-background.png') 50% 0;
    color: $black;
    font-family: $font-family;
}
a:link,
a:visited {
    color: $highlight;
    text-transform: uppercase;
}
a:hover {
    text-decoration: underline;
}

// Class Styles
.main-content {
    overflow: hidden;
}
.aligncenter{
    text-align: center;
    display: block;
}
.highlight {
    color: $highlight;
}
.row {
    &.fluid {
        max-width: 100%;
    }
}

.add-work {
    padding: 60px 0;
    .panel {
        background: $white;
        border: 1px solid $grey;
        .panel-heading {
            background: $grey;
            color: $off-white;
            padding: 10px;
            font-size: 24px;
            text-transform: uppercase;
        }
        .panel-body {
            padding: 20px;
            .button {
                width: 100%;
                background: $highlight;
                color: $off-white;
                text-transform: uppercase;
                font-weight: 400;
                padding: 10px;
                transition: all .5s;
                &:hover {
                    background: $grey;
                }
            }
        }
    }
}

.login {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: $off-white;
    .panel {
        background: white;
        border: 1px solid $grey;
        margin: 60px 0;
        .panel-heading {
            background: $grey;
            text-align: center;
            color: $off-white;
            padding: 10px 0;
            font-size: 24px;
            text-transform: uppercase;
        }
        .panel-body {
            padding: 20px;
            p {
                margin: 0;
            }
            label {
                font-size: 18px;
                text-transform: uppercase;
            }
            hr {
                margin-top: 5px;
            }
            .checkbox {
                position: relative;
                left: -14px;
                padding: 7px 0;
                label {
                    font-size: 14px;
                    input {
                        position: relative;
                        top: -1px;
                    }
                }
            }
            .button {
                width: 100%;
                background: $highlight;
                color: $off-white;
                text-transform: uppercase;
                font-weight: 400;
                padding: 10px;
                transition: all .5s;
                &:hover {
                    background: $grey;
                }
            }
        }
    }
}

.introduction {
    position: relative;
    background: $white;
    margin-bottom: 100px;
    padding: 40px 0 0;
    box-sizing: border-box;
    &:before {
        content: ' ';
        position: absolute;
        bottom: -20%;
        left: 0;
        z-index: 9;
        width: 110%;
        height: 100%;
        background: $white;
        display: block;
        transform: rotate(2deg);
    }
    .heading {
        position: relative;
        z-index: 99;
        font-size: 125px;
        font-weight: 400;
        font-family: $alt-font-family;
        text-transform: uppercase;
    }
    .sub-heading {
        position: relative;
        z-index: 99;
        font-family: $font-family;
        font-size: 24px;
    }
    .social {
        position: relative;
        z-index: 99;
        text-align: center;
        float: none;
        display: block;
        margin: 30px 0 -20px;
        li {
            float: none;
            display: inline-block;
            margin: 0 5px;
            a {
                background: $grey;
                display: block;
                color: $off-white;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                letter-spacing: -3px;
                padding: 0;
                margin: 0;
                border-radius: 100px;
                transition: all .5s;
                i {
                    text-shadow: 0 0 0 transparent;
                    transition: all .5s;
                }
                &:hover {
                    background: $highlight;
                    i {
                        text-shadow: 0px 2px 4px $grey;
                    }
                }
            }
        }
    }
}

.examples {
    background: transparent;
    margin-bottom: 120px;
    .heading {
        font-family: $alt-font-family;
        font-size: 64px;
        font-weight: 400;
        text-transform: uppercase;
    }
}

.about {
    position: relative;
    background: $highlight;
    margin-bottom: 120px;
    &:before {
        content: ' ';
        position: absolute;
        top: -11%;
        left: -5%;
        z-index: 9;
        width: 110%;
        height: 100%;
        background: $highlight;
        display: block;
        transform: rotate(2deg);
    }
    &:after {
        content: ' ';
        position: absolute;
        bottom: -11%;
        left: 0;
        z-index: 9;
        width: 110%;
        height: 100%;
        background: $highlight;
        display: block;
        transform: rotate(2deg);
    }
    .heading {
        position: relative;
        z-index: 99;
        font-family: $alt-font-family;
        font-size: 64px;
        font-weight: 400;
        color: $off-white;
        text-transform: uppercase;
        margin-bottom: 60px;
    }
    .image-container {
        position: relative;
        z-index: 99;
    }
    p {
        position: relative;
        z-index: 99;
        font-size: 24px;
        font-weight: 400;
        color: $off-white;
    }
    img {
        position: absolute;
        top: 50%;
        border-radius: 100%;
        transform: translateY(-50%);
    }
}

.contact {
    margin-bottom: 120px;
    .heading {
        position: relative;
        z-index: 99;
        font-size: 64px;
        font-weight: 400;
        font-family: $alt-font-family;
        text-transform: uppercase;
        margin-bottom: 60px;
    }
    form {
        label {
            font-size: 18px;
            font-wight: 600;
            color: $black;
            text-transform: uppercase;
        }
        input[type=text],
        textarea {
            background: transparent;
            box-shadow: none;
            border: 2px solid $white;
            padding: 10px;
            transition: all .3s;
            &:focus {
                background: $off-white;
            }
        }
        textarea {
            height: 150px;
        }
        .button {
            background: $highlight;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 18px;
            padding: 15px;
            &:hover {
                background: $grey;
            }
        }
    }
}

.copyright-line {
    position: relative;
    background: $white;
    text-align: center;
    padding: 30px 0 40px;
    &:before {
        content: ' ';
        position: absolute;
        top: -23%;
        left: 0;
        z-index: 9;
        width: 110%;
        height: 100%;
        background: $white;
        display: block;
        transform: rotate(2deg);
    }
    p {
        position: relative;
        z-index: 99;
        font-size: 24px;
        margin: 0;
    }
}
