// Color Variables
$white: #ffffff;
$off-white: #ecedee;
$highlight: #3bad35;
$grey: #4b4b4b;
$black: #000;

$font-family: 'Raleway', 'Segoe UI', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
$alt-font-family: 'Oswald', sans-serif;

// Tag Styles
body {
    color: $black;
    font-family: $font-family;
}

// Class Styles
.main-content {
    overflow: hidden;
}
.aligncenter{
    text-align: center;
    display: block;
}
.highlight {
    color: $highlight;
}
.row {
    &.fluid {
        max-width: 100%;
    }
}

.introduction {
    position: relative;
    background: $off-white;
    margin-bottom: 100px;
    padding: 40px 0 0;
    box-sizing: border-box;
    &:before {
        content: ' ';
        position: absolute;
        bottom: -20%;
        left: 0;
        z-index: 9;
        width: 100%;
        height: 100%;
        background: $off-white;
        display: block;
        transform: rotate(2deg);
    }
    .heading {
        position: relative;
        z-index: 99;
        font-size: 125px;
        font-weight: 400;
        font-family: $alt-font-family;
        text-transform: uppercase;
    }
    .sub-heading {
        position: relative;
        z-index: 99;
        font-family: $font-family;
        font-size: 24px;
    }
    .social {
        position: relative;
        z-index: 99;
        text-align: center;
        float: none;
        display: block;
        margin: 30px 0 -20px;
        li {
            float: none;
            display: inline-block;
            margin: 0 5px;
            a {
                background: $grey;
                display: block;
                color: $off-white;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                letter-spacing: -3px;
                padding: 0;
                margin: 0;
                border-radius: 100px;
                transition: all .5s;
                i {
                    text-shadow: 0 0 0 transparent;
                    transition: all .5s;
                }
                &:hover {
                    background: $highlight;
                    i {
                        text-shadow: 0px 2px 4px $grey;
                    }
                }
            }
        }
    }
}

.examples {
    background: transparent;
    .heading {
        font-family: $alt-font-family;
        font-size: 64px;
        font-weight: 400;
        text-transform: uppercase;
    }
}
