@keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.Blink {
  display: inline-block;
  background-color: var(--fontHighLight);
  text-align: center;
  margin-left: 1ch;
  animation: blink 0.5s linear infinite;
}

.Blink--dash {
  width: 1ch;
  height: 5px;
}
