:root {
  --dayThemeButtonBackground: rgba(255, 255, 255, 0.35);
  --nightThemeButtonBackground: rgba(00, 00, 00, 0.15);
  --vaporThemeButtonBackground: rgba(1, 205, 254, 0.35);
  --dayThemeButtonColor: var(--dayFont);
  --nightThemeButtonColor: var(--nightFont);
  --vaporThemeButtonColor: var(--vaporFont);
  --boxShadow: 0 0 10px rgba(00, 00, 00, 0.5);
}

.ThemeButton {
  min-width: 30px;
  min-height: 30px;
  background-color: var(--nightThemeButtonBackground);
  border: none;
  display: block;
  color: var(--nightThemeButtonColor);
  text-transform: uppercase;
  text-align: center;
  border-radius: 0;
  cursor: pointer;
  padding: 0 10px;
  flex-grow: 1;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: var(--boxShadow);
    z-index: 2;
  }

  &:first-child {
    border-radius: 12px 0 0 12px;
  }

  &:last-child {
    border-radius: 0 12px 12px 0;
  }

  &[data-theme='DayTheme'] {
    background-color: var(--dayThemeButtonBackground);
    color: var(--dayThemeButtonColor);
  }

  &[data-theme='VaporTheme'] {
    background-color: var(--vaporThemeButtonBackground);
    color: var(--vaporThemeButtonColor);
  }
}
