:root {
  --themeSwitcherBackground: rgba(255, 255, 255, 0.15);
}

.ThemeSwitcher {
  background: var(--themeSwitcherBackground);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  grid-area: theme-switcher;
  align-self: end;
  margin: 0 auto;
  margin-bottom: var(--sectionGap);
}
