:root {
  --darkThemeButtonBackground: rgba(00, 00, 00, 0.15);
  --lightThemeButtonBackground: rgba(255, 255, 255, 0.15);
  --boxShadow: 0 0 10px rgba(00, 00, 00, 0.5);
}

.ThemeButton {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
  background-color: var(--darkThemeButtonBackground);
  border: none;
  display: block;
  color: inherit;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0;
  cursor: pointer;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: var(--boxShadow);
    z-index: 2;
  }

  &:first-child {
    border-radius: 12px 12px 0 0;
  }

  &:last-child {
    border-radius: 0 0 12px 12px;
  }

  &[data-theme='LightTheme'] {
    background-color: var(--lightThemeButtonBackground);
  }
}

@media (max-width: 610px) {
  .ThemeButton {
    &:first-child {
      border-radius: 12px 0 0 12px;
    }

    &:last-child {
      border-radius: 0 12px 12px 0;
    }
  }
}
