@font-face {
  font-family: 'VT323';
  src: url('fonts/VT323-Regular.ttf');
}

:root {
  /* Dark Theme settings */
  --darkBackgroundColor: #0b0b0b;
  --darkFont: #00c020;
  --darkFontHighLight: #06ff2f;
  --darkTextShadow: 2px 2px 0px #000;

  /* Light Theme settings */
  --lightBackgroundColor: #ecedee;
  --lightFont: #1b1b1b;
  --lightFontHighLight: #3b3b3b;
  --lightTextShadow: 2px 2px 0px #000;

  /* Layout settings */
  --fontSize: 24px;
  --sectionGap: 24px;
}

@media (max-width: 500px) {
  :root {
    --fontSize: 18px;
  }
}

html {
  font-size: var(--fontSize);
}

body {
  background: var(--darkBackgroundColor);
  color: var(--darkFont);
  font-family: 'VT323', monospace;
  text-align: left;
  display: grid;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
}

body[data-theme='LightTheme'] {
  background: var(--lightBackgroundColor);
  color: var(--lightFont);
}
