@font-face {
  font-family: 'VT323';
  src: url('fonts/VT323-Regular.ttf');
}

:root {
  /* Dark Theme settings */
  --nightBackgroundColor: #0b0b0b;
  --nightFont: #00c020;
  --nightFontHighLight: #06ff2f;
  --darkTextShadow: 2px 2px 0px #000;

  /* Light Theme settings */
  --dayBackgroundColor: #ecedee;
  --dayFont: #1b1b1b;
  --dayFontHighLight: #3b3b3b;
  --lightTextShadow: 2px 2px 0px #000;

  /* Light Theme settings */
  --vaporBackgroundColor: #01cdfe;
  --vaporFont: #1b1b1b;
  --vaporFontHighLight: #ff71ce;
  --vaporTextShadow: 2px 2px 0px #000;

  /* Layout settings */
  --fontSize: 24px;
  --sectionGap: 24px;
}

@media (max-width: 500px) {
  :root {
    --fontSize: 18px;
  }
}

html {
  font-size: var(--fontSize);
}

body {
  background: var(--nightBackgroundColor);
  color: var(--nightFont);
  font-family: 'VT323', monospace;
  text-align: left;
  display: grid;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
  transition: background 0.3s, color 0.3s;
}

body[data-theme='DayTheme'] {
  background: var(--dayBackgroundColor);
  color: var(--dayFont);
}

body[data-theme='NightTheme'] {
  background: var(--nightBackgroundColor);
  color: var(--nightFont);
}

body[data-theme='VaporTheme'] {
  background: var(--vaporBackgroundColor);
  color: var(--vaporFont);
}
